{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <div class="card border-0 shadow-lg rounded-4 p-4">
            <h3 class="fw-bold text-center mb-4">Ro'yxatdan o'tish</h3>
            <form method="POST">
                <div class="mb-3">
                    <label class="small fw-bold text-muted">FOYDALANUVCHI NOMI</label>
                    <input type="text" name="username" class="form-control rounded-3" required>
                </div>
                <div class="mb-4">
                    <label class="small fw-bold text-muted">PAROL</label>
                    <input type="password" name="password" class="form-control rounded-3" required>
                </div>
                <button type="submit" class="btn btn-primary w-100 py-2 fw-bold rounded-pill">RO'YXATDAN O'TISH</button>
            </form>
            <div class="text-center mt-3">
                <a href="{{ url_for('login') }}" class="text-decoration-none small">Akkauntingiz bormi? Kirish</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
